@font-face {
  font-family: "Amsdam-Regular";
  src: url("../fonts/Amsdam Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonText-Roman";
  src: url("../fonts/CrimsonText-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
