$primary-color:       #fff;
$secondary-color:     #000;

$primary-font:        "CrimsonText-Roman", "Helvetica", sans-serif;
$secondary-font:      "Amsdam-Regular", "Helvetica", sans-serif;

$primary-font-size:   16px;
$secondary-font-size: 36px;